trigger:
  branches:
    include:
      - main

pool:
  name: 'Default'

variables:
  - name: workingDirectory
    value: '$(System.DefaultWorkingDirectory)'

stages:
  - stage: Terraform
    displayName: 'Provision Infrastructure'
    jobs:
      - job: TerraformJob
        displayName: 'Run Terraform Deployment'
        steps:

          # Download SSH Public Key
          - task: DownloadSecureFile@1
            name: sshPublicKey
            inputs:
              secureFile: 'id_rsa.pub'
            displayName: 'Download SSH Public Key'

          # Copy SSH Public Key into Terraform module
          - bash: |
              mkdir -p ~/.ssh
              cp $(sshPublicKey.secureFilePath) ~/.ssh/id_rsa.pub
              cp $(sshPublicKey.secureFilePath) terraform/modules/compute/id_rsa.pub
              ls -al terraform/modules/compute/
            displayName: 'Place SSH Public Key'

          # Terraform Init
          - task: AzureCLI@2
            displayName: 'Terraform Init'
            inputs:
              azureSubscription: 'epicbook-infra-connection'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              workingDirectory: '$(workingDirectory)/terraform'
              inlineScript: |
                terraform init -input=false

          # Terraform Plan
          - task: AzureCLI@2
            displayName: 'Terraform Plan'
            inputs:
              azureSubscription: 'epicbook-infra-connection'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              workingDirectory: '$(workingDirectory)/terraform'
              inlineScript: |
                terraform plan -input=false \
                  -var "mysql_admin_username=$MYSQL_ADMIN_USERNAME" \
                  -var "mysql_admin_password=$MYSQL_ADMIN_PASSWORD" \
                  -var "admin_ssh_public_key=$(cat terraform/modules/compute/id_rsa.pub)" \
                  -out=tfplan
            env:
              MYSQL_ADMIN_USERNAME: '$(MYSQL_ADMIN_USERNAME)'
              MYSQL_ADMIN_PASSWORD: '$(MYSQL_ADMIN_PASSWORD)'

          # Terraform Apply
          - task: AzureCLI@2
            displayName: 'Terraform Apply'
            inputs:
              azureSubscription: 'epicbook-infra-connection'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              workingDirectory: '$(workingDirectory)/terraform'
              inlineScript: |
                terraform apply -input=false -auto-approve tfplan
            env:
              MYSQL_ADMIN_USERNAME: '$(MYSQL_ADMIN_USERNAME)'
              MYSQL_ADMIN_PASSWORD: '$(MYSQL_ADMIN_PASSWORD)'

          # Show Terraform Outputs
          - task: AzureCLI@2
            displayName: 'Terraform Outputs'
            inputs:
              azureSubscription: 'epicbook-infra-connection'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              workingDirectory: '$(workingDirectory)/terraform'
              inlineScript: |
                echo "Frontend IP: $(terraform output -raw frontend_public_ip)"
                echo "Backend IP: $(terraform output -raw backend_public_ip)"
                echo "MySQL FQDN: $(terraform output -raw mysql_fqdn)"
