trigger:
  paths:
    include:
      - terraform/**
  branches:
    include:
      - main

stages:
- stage: Terraform
  displayName: 'Provision Infrastructure'
  jobs:
  - job: Terraform_Apply
    displayName: 'Terraform Apply'
    pool:
      name: 'Default'  # your self-hosted agent
    variables:
      - name: MYSQL_ADMIN_USERNAME
        value: '$(MYSQL_ADMIN_USERNAME)'   # already created in pipeline variables
      - name: MYSQL_ADMIN_PASSWORD
        value: '$(MYSQL_ADMIN_PASSWORD)'   # marked as secret

    steps:

    - task: DownloadSecureFile@1
      name: download_ssh_key
      inputs:
        secureFile: 'id_rsa.pub'

    - script: |
        echo "Copying SSH public key into Terraform module"

        mkdir -p ~/.ssh
        cp $(download_ssh_key.secureFilePath) ~/.ssh/id_rsa.pub

        # Now copy into Terraform module path
        cp $(download_ssh_key.secureFilePath) terraform/modules/compute/id_rsa.pub

        echo "Listing contents of terraform/modules/compute/"
        ls -al terraform/modules/compute/
      displayName: 'Extract SSH Public Key for Terraform'

    - task: AzureCLI@2
      displayName: 'Terraform Init / Plan / Apply'
      inputs:
        azureSubscription: 'epicbook-infra-connection'
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        inlineScript: |
          echo "##[group]Terraform Init"
          terraform init -input=false
          echo "##[endgroup]"

          echo "##[group]Terraform Plan"
          terraform plan -input=false \
            -var "mysql_admin_username=$MYSQL_ADMIN_USERNAME" \
            -var "mysql_admin_password=$MYSQL_ADMIN_PASSWORD" \
            -var "admin_ssh_public_key=$(cat terraform/modules/compute/id_rsa.pub)" \
            -out=tfplan
          echo "##[endgroup]"

          echo "##[group]Terraform Apply"
          terraform apply -input=false -auto-approve tfplan
          echo "##[endgroup]"
      env:
        MYSQL_ADMIN_USERNAME: $(MYSQL_ADMIN_USERNAME)
        MYSQL_ADMIN_PASSWORD: $(MYSQL_ADMIN_PASSWORD)
